


@font-face {
    font-family: 'halloween_trickregular';
    src: url('halloween_trickuk.eot');
    src: url('halloween_trickuk.eot?#iefix') format('embedded-opentype'),
         url('halloween_trickuk.woff2') format('woff2'),
         url('halloween_trickuk.woff') format('woff'),
         url('halloween_trickuk.ttf') format('truetype'),
         url('halloween_trickuk.svg#halloween_trickregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'halloween_bellregular';
    src: url('halloweenbelluk.eot');
    src: url('halloweenbelluk.eot?#iefix') format('embedded-opentype'),
         url('halloweenbelluk.woff2') format('woff2'),
         url('halloweenbelluk.woff') format('woff'),
         url('halloweenbelluk.ttf') format('truetype'),
         url('halloweenbelluk.svg#halloween_bellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helloween_2regular';
    src: url('hellow2uk.eot');
    src: url('hellow2uk.eot?#iefix') format('embedded-opentype'),
         url('hellow2uk.woff2') format('woff2'),
         url('hellow2uk.woff') format('woff'),
         url('hellow2uk.ttf') format('truetype'),
         url('hellow2uk.svg#helloween_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helloween_version_2regular';
    src: url('helloween_version_2uk.eot');
    src: url('helloween_version_2uk.eot?#iefix') format('embedded-opentype'),
         url('helloween_version_2uk.woff2') format('woff2'),
         url('helloween_version_2uk.woff') format('woff'),
         url('helloween_version_2uk.ttf') format('truetype'),
         url('helloween_version_2uk.svg#helloween_version_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'horror_dingbatsregular';
    src: url('horror_dingbatsuk.eot');
    src: url('horror_dingbatsuk.eot?#iefix') format('embedded-opentype'),
         url('horror_dingbatsuk.woff2') format('woff2'),
         url('horror_dingbatsuk.woff') format('woff'),
         url('horror_dingbatsuk.ttf') format('truetype'),
         url('horror_dingbatsuk.svg#horror_dingbatsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
