



@font-face {
    font-family: 'movie_galleryregular';
    src: url('moviegalleryuk.eot');
    src: url('moviegalleryuk.eot?#iefix') format('embedded-opentype'),
         url('moviegalleryuk.woff2') format('woff2'),
         url('moviegalleryuk.woff') format('woff'),
         url('moviegalleryuk.ttf') format('truetype'),
         url('moviegalleryuk.svg#movie_galleryregular') format('svg');
    font-weight: normal;
    font-style: normal;

}