
@font-face {
 font-weight:normal;
 font-style:normal;
 font-family: "DIN-UK";
    src: url('din-ukDIN-UK.eot');
    src: url('din-ukDIN-UK.eot?#iefix') format('embedded-opentype'),
         url('din-ukDIN-UK.woff2') format('woff2'),
         url('din-ukDIN-UK.woff') format('woff'),
         url('din-ukDIN-UK.ttf') format('truetype'),
         url('din-ukDIN-UK.svg#webfontregular') format('svg');
}
