



@font-face {
    font-family: 'werewolfregular';
    src: url('werewolfuk.eot');
    src: url('werewolfuk.eot?#iefix') format('embedded-opentype'),
         url('werewolfuk.woff2') format('woff2'),
         url('werewolfuk.woff') format('woff'),
         url('werewolfuk.ttf') format('truetype'),
         url('werewolfuk.svg#werewolfregular') format('svg');
    font-weight: normal;
    font-style: normal;

}