



@font-face {
    font-family: 'eternity';
    src: url('eternityuk.eot');
    src: url('eternityuk.eot?#iefix') format('embedded-opentype'),
         url('eternityuk.woff2') format('woff2'),
         url('eternityuk.woff') format('woff'),
         url('eternityuk.ttf') format('truetype'),
         url('eternityuk.svg#eternity_tomorrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}