



@font-face {
    font-family: 'reliant_beveledregular';
    src: url('reliant_beveleduk.eot');
    src: url('reliant_beveleduk.eot?#iefix') format('embedded-opentype'),
         url('reliant_beveleduk.woff2') format('woff2'),
         url('reliant_beveleduk.woff') format('woff'),
         url('reliant_beveleduk.ttf') format('truetype'),
         url('reliant_beveleduk.svg#reliant_beveledregular') format('svg');
    font-weight: normal;
    font-style: normal;

}