

@font-face {
    font-family: 'tribal_animals_tattoo_desigRg';
    src: url('tribal_animals_tattoo_designsuk.eot');
    src: url('tribal_animals_tattoo_designsuk.eot?#iefix') format('embedded-opentype'),
         url('tribal_animals_tattoo_designsuk.woff2') format('woff2'),
         url('tribal_animals_tattoo_designsuk.woff') format('woff'),
         url('tribal_animals_tattoo_designsuk.ttf') format('truetype'),
         url('tribal_animals_tattoo_designsuk.svg#tribal_animals_tattoo_desigRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tribal_butterfliesregular';
    src: url('tribal_butterfliesuk.eot');
    src: url('tribal_butterfliesuk.eot?#iefix') format('embedded-opentype'),
         url('tribal_butterfliesuk.woff2') format('woff2'),
         url('tribal_butterfliesuk.woff') format('woff'),
         url('tribal_butterfliesuk.ttf') format('truetype'),
         url('tribal_butterfliesuk.svg#tribal_butterfliesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tribal_dragons_tattoo_desigRg';
    src: url('tribal_dragons_tattoo_designsuk.eot');
    src: url('tribal_dragons_tattoo_designsuk.eot?#iefix') format('embedded-opentype'),
         url('tribal_dragons_tattoo_designsuk.woff2') format('woff2'),
         url('tribal_dragons_tattoo_designsuk.woff') format('woff'),
         url('tribal_dragons_tattoo_designsuk.ttf') format('truetype'),
         url('tribal_dragons_tattoo_designsuk.svg#tribal_dragons_tattoo_desigRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tribal_tattoo_addictregular';
    src: url('tribaltattooaddictuk.eot');
    src: url('tribaltattooaddictuk.eot?#iefix') format('embedded-opentype'),
         url('tribaltattooaddictuk.woff2') format('woff2'),
         url('tribaltattooaddictuk.woff') format('woff'),
         url('tribaltattooaddictuk.ttf') format('truetype'),
         url('tribaltattooaddictuk.svg#tribal_tattoo_addictregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'americanicregular';
    src: url('americanicuk.eot');
    src: url('americanicuk.eot?#iefix') format('embedded-opentype'),
         url('americanicuk.woff2') format('woff2'),
         url('americanicuk.woff') format('woff'),
         url('americanicuk.ttf') format('truetype'),
         url('americanicuk.svg#americanicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '4th_of_july_reflectionsRg';
    src: url('4thjulyuk.eot');
    src: url('4thjulyuk.eot?#iefix') format('embedded-opentype'),
         url('4thjulyuk.woff2') format('woff2'),
         url('4thjulyuk.woff') format('woff'),
         url('4thjulyuk.ttf') format('truetype'),
         url('4thjulyuk.svg#4th_of_july_reflectionsRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
