



@font-face {
    font-family: 'carbon_blockregular';
    src: url('carbonblockuk.eot');
    src: url('carbonblockuk.eot?#iefix') format('embedded-opentype'),
         url('carbonblockuk.woff2') format('woff2'),
         url('carbonblockuk.woff') format('woff'),
         url('carbonblockuk.ttf') format('truetype'),
         url('carbonblockuk.svg#carbon_blockregular') format('svg');
    font-weight: normal;
    font-style: normal;

}